In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

In [2]:
FinalMerge = pd.read_excel('../2progs/FinalMerge.xlsx',sheet_name='Sheet1',index_col = 0)

In [3]:
#converting to floats
FinalMerge['number_dwellings'] = FinalMerge['number_dwellings'].astype(float)
FinalMerge['number_habitablerooms'] = FinalMerge['number_habitablerooms'].astype(float)
FinalMerge['share_toilet_Yes'] = FinalMerge['share_toilet_Yes'].astype(float)
FinalMerge['own_radio_Yes'] = FinalMerge['own_radio_Yes'].astype(float)
FinalMerge['own_television_Yes'] = FinalMerge['own_television_Yes'].astype(float)
FinalMerge['own_satelitedish_Yes'] = FinalMerge['own_satelitedish_Yes'].astype(float)
FinalMerge['own_smartphone_Yes'] = FinalMerge['own_smartphone_Yes'].astype(float)
FinalMerge['own_refrigerator_Yes'] = FinalMerge['own_refrigerator_Yes'].astype(float)
FinalMerge['own_table_Yes'] = FinalMerge['own_table_Yes'].astype(float)
FinalMerge['own_bed_Yes'] = FinalMerge['own_bed_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_mosquitonet_Yes'] = FinalMerge['own_mosquitonet_Yes'].astype(float)
FinalMerge['own_mattress_Yes'] = FinalMerge['own_mattress_Yes'].astype(float)
FinalMerge['own_fan_Yes'] = FinalMerge['own_fan_Yes'].astype(float)
FinalMerge['own_bicycle_Yes'] = FinalMerge['own_bicycle_Yes'].astype(float)
FinalMerge['own_motorcycle_Yes'] = FinalMerge['own_motorcycle_Yes'].astype(float)
FinalMerge['own_generator_Yes'] = FinalMerge['own_generator_Yes'].astype(float)
FinalMerge['own_solarpanels_Yes'] = FinalMerge['own_solarpanels_Yes'].astype(float)
FinalMerge['own_kerosenestove_Yes'] = FinalMerge['own_kerosenestove_Yes'].astype(float)
FinalMerge['own_charcoaljiko_Yes'] = FinalMerge['own_charcoaljiko_Yes'].astype(float)
FinalMerge['own_wheelbarrow_Yes'] = FinalMerge['own_wheelbarrow_Yes'].astype(float)
FinalMerge['own_ironfencing_Yes'] = FinalMerge['own_ironfencing_Yes'].astype(float)
FinalMerge['own_farmanimals_Yes'] = FinalMerge['own_farmanimals_Yes'].astype(float)
FinalMerge['hh_purchasedfood7d_Yes'] = FinalMerge['own_farmanimals_Yes'].astype(float)
FinalMerge['foodwasfree_Yes'] = FinalMerge['own_farmanimals_Yes'].astype(float)

#for own_car variable, all of them were a no, so they were dropped

#Rest of float variables for the unrestricted dataset 
FinalMerge['headFemale'] = FinalMerge['headFemale'].astype(float)
FinalMerge['size'] = FinalMerge['size'].astype(float)
FinalMerge['shareWithEarlyChildhood'] = FinalMerge['shareWithEarlyChildhood'].astype(float)
FinalMerge['issue'] = FinalMerge['issue'].astype(float)
FinalMerge['foodspent_localcurrecny'] = FinalMerge['foodspent_localcurrecny'].astype(float)
FinalMerge['familysize1'] = FinalMerge['familysize1'].astype(float)
FinalMerge['familysize2'] = FinalMerge['familysize2'].astype(float)
FinalMerge['familysize3'] = FinalMerge['familysize3'].astype(float)
FinalMerge['familysize4'] = FinalMerge['familysize4'].astype(float)
FinalMerge['familysize5'] = FinalMerge['familysize5'].astype(float)
FinalMerge['floor_material'] = FinalMerge['floor_material'].astype(float)
FinalMerge['roof_material'] = FinalMerge['roof_material'].astype(float)
FinalMerge['toilet_type'] = FinalMerge['toilet_type'].astype(float)
FinalMerge['lighting_source'] = FinalMerge['lighting_source'].astype(float)
FinalMerge['rentpaid_shillings'] = FinalMerge['rentpaid_shillings'].astype(float)
FinalMerge['relatives_abroad_Yes'] = FinalMerge['relatives_abroad_Yes'].astype(float)
FinalMerge['borrowedfrom_sources12mo_Yes'] = FinalMerge['borrowedfrom_sources12mo_Yes'].astype(float)
FinalMerge['borrowedfrom_bank12mo_Yes'] = FinalMerge['borrowedfrom_bank12mo_Yes'].astype(float)
FinalMerge['borrowedfrom_community_Yes'] = FinalMerge['borrowedfrom_community_Yes'].astype(float)
FinalMerge['borrowedfrom_familyorfriends12mo_Yes'] = FinalMerge['borrowedfrom_familyorfriends12mo_Yes'].astype(float)
FinalMerge['remittances_abroad_Yes'] = FinalMerge['remittances_abroad_Yes'].astype(float)
FinalMerge['purchased_insurance_Yes'] = FinalMerge['purchased_insurance_Yes'].astype(float)
FinalMerge['sellhhgoods_lackfood_Yes'] = FinalMerge['sellhhgoods_lackfood_Yes'].astype(float)
FinalMerge['withdrawchildrenschool_lackfood_Yes'] = FinalMerge['withdrawchildrenschool_lackfood_Yes'].astype(float)
FinalMerge['sellanimals:lackfood_Yes'] = FinalMerge['sellanimals:lackfood_Yes'].astype(float)
FinalMerge['beg_lackfood_Yes'] = FinalMerge['beg_lackfood_Yes'].astype(float)
FinalMerge['drikingwater_source'] = FinalMerge['drikingwater_source'].astype(float)
FinalMerge['crowdindex_room'] = FinalMerge['crowdindex_room'].astype(float)
FinalMerge['LCS_index'] = FinalMerge['LCS_index'].astype(float)
FinalMerge['poorIPL'] = FinalMerge['poorIPL'].astype(float)
#FinalMerge['childunder5_death5yrs'] = FinalMerge['childunder5_death5yrs'].astype(float)

In [4]:
restricted_set = FinalMerge[['number_dwellings', 'number_habitablerooms', 'own_radio_Yes', 
                                       'own_television_Yes', 'own_satelitedish_Yes', 'own_smartphone_Yes', 'own_refrigerator_Yes',
                                      'own_table_Yes', 'own_bed_Yes', 'own_mattress_Yes', 'own_mosquitonet_Yes', 'own_fan_Yes', 'own_bicycle_Yes',
                                      'own_motorcycle_Yes', 'own_generator_Yes', 'own_solarpanels_Yes', 'own_kerosenestove_Yes',
                                      'own_charcoaljiko_Yes', 'own_wheelbarrow_Yes', 'own_ironfencing_Yes', 'own_farmanimals_Yes', 
                            'headFemale', 'shareFemale','shareAgeZeroToFour','shareAgeFiveToNine', 'shareAgeTenToFourteen', 
    'shareAgeFifteenToTwentyfour', 'shareAgeTwentyfivetofourtynine', 'shareAgeFiftyPlus','shareMaleAgeTenToNineteen',
    'shareFemaleAgeTenToNineteen', 'shareMaleAgeTwentytoFourtynine', 'shareFemaleAgeTwentytoFourtynine',
    'shareWithNoEducation', 'shareWithEarlyChildhood', 'shareWithPrimary', 'shareWithSecondary', 'shareWithVocational',
    'shareWithUniversity', 'shareWithOther',  'lighting_source', 
                            'floor_material', 'roof_material', 'wall_material', 'toilet_type', 'share_toilet_Yes', 
                             'foodwasfree_Yes','hh_purchasedfood7d_Yes']].fillna(0)

In [5]:
ln_expenditure_per_capita = np.log(FinalMerge['Total_Spend']/FinalMerge['size'])

In [6]:
y = ln_expenditure_per_capita

X = restricted_set

In [7]:
alphas = 10**np.linspace(10,-2,100)*0.5

In [8]:
ridge = Ridge(normalize = True)
coefs = []

for a in alphas:
    ridge.set_params(alpha = a)
    ridge.fit(X, y)
    coefs.append(ridge.coef_)
    
np.shape(coefs)

(100, 48)

In [9]:
# Split data into training and test sets
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [10]:

ridgecv = RidgeCV(alphas = alphas, scoring = 'neg_mean_squared_error', normalize = True)
ridgecv.fit(X_train, y_train)
ridgecv.alpha_

0.5748784976988678

In [11]:
ridge4 = Ridge(alpha = ridgecv.alpha_, normalize = True)
ridge4.fit(X_train, y_train)
mean_squared_error(y_test, ridge4.predict(X_test))

0.6479434658191138

In [12]:
ridge4.fit(X, y)
pd.Series(ridge4.coef_, index = X.columns)

number_dwellings                   -0.074311
number_habitablerooms              -0.050730
own_radio_Yes                       0.161901
own_television_Yes                  0.054973
own_satelitedish_Yes                0.254115
own_smartphone_Yes                  0.071600
own_refrigerator_Yes                0.463507
own_table_Yes                       0.070163
own_bed_Yes                         0.151545
own_mattress_Yes                    0.059690
own_mosquitonet_Yes                 0.019906
own_fan_Yes                         0.080300
own_bicycle_Yes                     0.141958
own_motorcycle_Yes                  0.014449
own_generator_Yes                  -0.242359
own_solarpanels_Yes                -0.003669
own_kerosenestove_Yes               0.184599
own_charcoaljiko_Yes                0.121127
own_wheelbarrow_Yes                 0.163938
own_ironfencing_Yes                 0.098235
own_farmanimals_Yes                -0.030582
headFemale                         -0.042046
shareFemale                        -0.075221
shareAgeZeroToFour                 -0.330039
shareAgeFiveToNine                 -0.320900
shareAgeTenToFourteen              -0.239501
shareAgeFifteenToTwentyfour         0.261249
shareAgeTwentyfivetofourtynine      0.141057
shareAgeFiftyPlus                   0.099049
shareMaleAgeTenToNineteen           0.009139
shareFemaleAgeTenToNineteen        -0.018906
shareMaleAgeTwentytoFourtynine      0.152854
shareFemaleAgeTwentytoFourtynine    0.410139
shareWithNoEducation               -0.171554
shareWithEarlyChildhood            -0.700616
shareWithPrimary                   -0.100134
shareWithSecondary                  0.069620
shareWithVocational                 0.357024
shareWithUniversity                 0.331213
shareWithOther                      0.125996
lighting_source                    -0.012706
floor_material                      0.024661
roof_material                       0.004084
wall_material                      -0.061466
toilet_type                         0.014249
share_toilet_Yes                    0.063833
foodwasfree_Yes                    -0.030582
hh_purchasedfood7d_Yes             -0.030582
dtype: float64

In [13]:
Y_test_ridge = ridge4.predict(X_test)
Y_test_ridge = pd.Series(Y_test_ridge)
Predicted_vs_Actual = pd.DataFrame(Y_test_ridge, columns=['Y Test'])
Predicted_vs_Actual['log(Total Spend/capita)'] = y
Predicted_vs_Actual

       Y Test  log(Total Spend/capita)
0    7.774003                 8.657789
1    6.702543                 6.209313
2    6.711358                 5.694099
3    7.053743                 5.208631
4    6.858473                 8.772369
..        ...                      ...
268  6.953572                 5.855788
269  7.019404                 7.138037
270  6.930075                 6.628041
271  6.903254                 8.092154
272  6.889084                 7.259751

[273 rows x 2 columns]

In [14]:
Predicted_vs_Actual.nsmallest(68, ['log(Total Spend/capita)'])

       Y Test  log(Total Spend/capita)
115  6.744616                 3.912023
6    6.734236                 4.227645
81   6.820843                 4.587456
44   7.494851                 4.795001
62   6.630889                 4.802885
..        ...                      ...
10   6.932990                 6.608555
214  7.059667                 6.608677
74   7.001118                 6.624139
270  6.930075                 6.628041
114  6.828741                 6.639246

[68 rows x 2 columns]

In [15]:
Predicted_vs_Actual['included bottom percentage actual spend'] = np.where(Predicted_vs_Actual['log(Total Spend/capita)'] < 6.639246, 1, 0)

In [16]:
Predicted_vs_Actual.nsmallest(68, ['Y Test'])

,Y Test,log(Total Spend/capita),included bottom percentage actual spend
232,6.538730,6.872454,0
39,6.543005,7.333039,0
152,6.551223,7.277907,0
219,6.556877,6.228470,1
235,6.566043,6.647755,0
...,...,...,...
81,6.820843,4.587456,1
209,6.825232,8.023261,0
160,6.826244,6.684144,0
114,6.828741,6.639246,0
67,6.829409,6.405412,1

In [17]:
Predicted_vs_Actual['included bottom percentage test spend'] = np.where(Predicted_vs_Actual['Y Test'] < 6.821950, 1, 0)

Predicted_vs_Actual

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend
0,7.774003,8.657789,0,0
1,6.702543,6.209313,1,1
2,6.711358,5.694099,1,1
3,7.053743,5.208631,1,0
4,6.858473,8.772369,0,0
...,...,...,...,...
268,6.953572,5.855788,1,0
269,7.019404,7.138037,0,0
270,6.930075,6.628041,1,0
271,6.903254,8.092154,0,0
272,6.889084,7.259751,0,0

In [18]:
confusion_matrix(Predicted_vs_Actual['included bottom percentage actual spend'], Predicted_vs_Actual['included bottom percentage test spend'])

array([[159,  47],
       [ 50,  17]])

In [19]:
#Using 25% subsample

Predicted_vs_Actual['correctly predicted'] = np.where(Predicted_vs_Actual['included bottom percentage actual spend'] == Predicted_vs_Actual['included bottom percentage test spend'], True, False)
Predicted_vs_Actual['correctly predicted'].value_counts()

#Total error: 48%

True     176
False     97
Name: correctly predicted, dtype: int64

In [20]:
Subset_25_Ridge = Predicted_vs_Actual[Predicted_vs_Actual['log(Total Spend/capita)'] < 6.639246]

In [21]:
Subset_25_Ridge.head()

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend,correctly predicted
1,6.702543,6.209313,1,1,True
2,6.711358,5.694099,1,1,True
3,7.053743,5.208631,1,0,False
5,6.926839,6.330674,1,0,False
6,6.734236,4.227645,1,1,True

In [22]:
Subset_25_Ridge['correctly predicted'].value_counts()

#76% exclusion error

False    50
True     17
Name: correctly predicted, dtype: int64

In [23]:
#Using 40% subsample
Predicted_vs_Actual.nsmallest(109, ['log(Total Spend/capita)'])

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend,correctly predicted
115,6.744616,3.912023,1,1,True
6,6.734236,4.227645,1,1,True
81,6.820843,4.587456,1,1,True
44,7.494851,4.795001,1,0,False
62,6.630889,4.802885,1,1,True
...,...,...,...,...,...
78,7.649335,6.914639,0,0,True
183,6.946374,6.927792,0,0,True
107,7.878105,6.934738,0,0,True
47,7.072845,6.949753,0,0,True
28,6.847201,6.953599,0,0,True

In [24]:
Predicted_vs_Actual['included bottom percentage actual spend_40'] = np.where(Predicted_vs_Actual['log(Total Spend/capita)'] < 6.953599, 1, 0)

In [25]:
Predicted_vs_Actual.nsmallest(109, ['Y Test'])

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend,correctly predicted,included bottom percentage actual spend_40
232,6.538730,6.872454,0,1,False,1
39,6.543005,7.333039,0,1,False,0
152,6.551223,7.277907,0,1,False,0
219,6.556877,6.228470,1,1,True,1
235,6.566043,6.647755,0,1,False,1
...,...,...,...,...,...,...
272,6.889084,7.259751,0,0,True,0
133,6.892042,6.375025,1,0,False,1
108,6.894234,7.783293,0,0,True,0
11,6.899298,7.242162,0,0,True,0
271,6.903254,8.092154,0,0,True,0

In [26]:
Predicted_vs_Actual['included bottom percentage test spend_40'] = np.where(Predicted_vs_Actual['Y Test'] < 6.891951, 1, 0)

Predicted_vs_Actual

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend,correctly predicted,included bottom percentage actual spend_40,included bottom percentage test spend_40
0,7.774003,8.657789,0,0,True,0,0
1,6.702543,6.209313,1,1,True,1,1
2,6.711358,5.694099,1,1,True,1,1
3,7.053743,5.208631,1,0,False,1,0
4,6.858473,8.772369,0,0,True,0,1
...,...,...,...,...,...,...,...
268,6.953572,5.855788,1,0,False,1,0
269,7.019404,7.138037,0,0,True,0,0
270,6.930075,6.628041,1,0,False,1,0
271,6.903254,8.092154,0,0,True,0,0
272,6.889084,7.259751,0,0,True,0,1

In [27]:
confusion_matrix(Predicted_vs_Actual['included bottom percentage actual spend_40'], Predicted_vs_Actual['included bottom percentage test spend_40'])

array([[103,  62],
       [ 65,  43]])

In [28]:
Predicted_vs_Actual['correctly predicted_40'] = np.where(Predicted_vs_Actual['included bottom percentage actual spend_40'] == Predicted_vs_Actual['included bottom percentage test spend_40'], True, False)
Predicted_vs_Actual['correctly predicted_40'].value_counts()

#48% exclusion error

True     146
False    127
Name: correctly predicted_40, dtype: int64

In [29]:
Subset_40_Ridge = Predicted_vs_Actual[Predicted_vs_Actual['log(Total Spend/capita)'] < 6.953599]
Subset_40_Ridge.head()

,Y Test,log(Total Spend/capita),included bottom percentage actual spend,included bottom percentage test spend,correctly predicted,included bottom percentage actual spend_40,included bottom percentage test spend_40,correctly predicted_40
1,6.702543,6.209313,1,1,True,1,1,True
2,6.711358,5.694099,1,1,True,1,1,True
3,7.053743,5.208631,1,0,False,1,0,False
5,6.926839,6.330674,1,0,False,1,0,False
6,6.734236,4.227645,1,1,True,1,1,True

In [30]:
Subset_40_Ridge['correctly predicted'].value_counts()
#61% exclusion error

False    60
True     48
Name: correctly predicted, dtype: int64

In [31]:
#ask dr. o'connell!