In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetsRenamed.xlsx',sheet_name='Sheet1',index_col = 0)

In [10]:
x['spend_tuitionfees'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      6290.007233
std       9461.010886
count     1390.000000
min          1.000000
max      48350.000980
Name: spend_tuitionfees, dtype: float64

In [12]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_tuitionfees'] > 34673].count()
#drop 36

hhid                   36
s1q2_x                 36
spend_tuitionfees      36
spend_textbooks        36
spend_exercisebooks    36
                       ..
pgi                    36
spg                    36
weight_y.1             36
popweight              36
Dataset2               36
Length: 144, dtype: int64

In [13]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_textbooks']!=0]
x['spend_textbooks'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean     1318.962610
std      1432.657343
count    3762.000000
min         1.000000
max      9999.999878
Name: spend_textbooks, dtype: float64

In [14]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_textbooks'] > 5614].count()
#find obs w/ more than 3SD from mean

#drop 119

hhid                   119
s1q2_x                 119
spend_tuitionfees      119
spend_textbooks        119
spend_exercisebooks    119
                      ...
pgi                    119
spg                    119
weight_y.1             119
popweight              119
Dataset2               119
Length: 144, dtype: int64

In [16]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_exercisebooks']!=0]
x['spend_exercisebooks'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean       728.829151
std       1039.469655
count    12309.000000
min          3.000000
max       8600.000000
Name: spend_exercisebooks, dtype: float64

In [17]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_exercisebooks'] > 3845].count()
#drop 253

hhid                   253
s1q2_x                 253
spend_tuitionfees      253
spend_textbooks        253
spend_exercisebooks    253
                      ...
pgi                    253
spg                    253
weight_y.1             253
popweight              253
Dataset2               253
Length: 144, dtype: int64

In [19]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_schooluniform']!=0]
x['spend_schooluniform'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      1752.048389
std       1937.970419
count     3100.000000
min          1.000000
max      14000.000000
Name: spend_schooluniform, dtype: float64

In [20]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_schooluniform'] > 7563].count()

#drop 91

hhid                   91
s1q2_x                 91
spend_tuitionfees      91
spend_textbooks        91
spend_exercisebooks    91
                       ..
pgi                    91
spg                    91
weight_y.1             91
popweight              91
Dataset2               91
Length: 144, dtype: int64

In [21]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_schoolboardingfees']!=0]
x['spend_schoolboardingfees'].describe().T[['mean', 'std', 'count', 'min', 'max']]

#all within 3SD of mean!

mean      19532.830914
std       29299.533837
count       481.000000
min         450.000000
max      100200.000000
Name: spend_schoolboardingfees, dtype: float64

In [22]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_schooltransport']!=0]
x['spend_schooltransport'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      5993.376863
std      11824.267561
count     1072.000000
min        150.000000
max      72000.000000
Name: spend_schooltransport, dtype: float64

In [23]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_schooltransport'] > 41465].count()
#drop 42 observations

hhid                   42
s1q2_x                 42
spend_tuitionfees      42
spend_textbooks        42
spend_exercisebooks    42
                       ..
pgi                    42
spg                    42
weight_y.1             42
popweight              42
Dataset2               42
Length: 144, dtype: int64

In [24]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_extratuition']!=0]
x['spend_extratuition'].describe().T[['mean', 'std', 'count', 'min', 'max']]
#no outliers more than 3SD from mean

mean     1357.883791
std      1679.843730
count     545.000000
min        40.000000
max      6000.000000
Name: spend_extratuition, dtype: float64

In [25]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_PTA']!=0]
x['spend_PTA'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      284.191367
std       431.688603
count    1228.000000
min         5.000000
max      3000.000000
Name: spend_PTA, dtype: float64

In [26]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_PTA'] > 1577].count()
#drop 42 obs

hhid                   42
s1q2_x                 42
spend_tuitionfees      42
spend_textbooks        42
spend_exercisebooks    42
                       ..
pgi                    42
spg                    42
weight_y.1             42
popweight              42
Dataset2               42
Length: 144, dtype: int64

In [27]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_pocketmoney']!=0]
x['spend_pocketmoney'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      2450.052791
std       4925.764340
count     1326.000000
min         20.000000
max      36000.000000
Name: spend_pocketmoney, dtype: float64

In [28]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_pocketmoney'] > 17225].count()
#drop 21 observations

hhid                   21
s1q2_x                 21
spend_tuitionfees      21
spend_textbooks        21
spend_exercisebooks    21
                       ..
pgi                    21
spg                    21
weight_y.1             21
popweight              21
Dataset2               21
Length: 144, dtype: int64

In [29]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_cautionmoney']!=0]
x['spend_cautionmoney'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean     1068.303484
std      1307.119655
count     402.000000
min         2.000000
max      5000.000000
Name: spend_cautionmoney, dtype: float64

In [30]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_cautionmoney'] > 4989].count()
#drop 22 observations

hhid                   22
s1q2_x                 22
spend_tuitionfees      22
spend_textbooks        22
spend_exercisebooks    22
                       ..
pgi                    22
spg                    22
weight_y.1             22
popweight              22
Dataset2               22
Length: 144, dtype: int64

In [31]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_educmedicalfee']!=0]
x['spend_educmedicalfee'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      2460.922441
std       3372.515027
count     1002.000000
min         50.000000
max      22000.000000
Name: spend_educmedicalfee, dtype: float64

In [32]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_educmedicalfee'] > 12576].count()
#drop 33 obs

hhid                   33
s1q2_x                 33
spend_tuitionfees      33
spend_textbooks        33
spend_exercisebooks    33
                       ..
pgi                    33
spg                    33
weight_y.1             33
popweight              33
Dataset2               33
Length: 144, dtype: int64

In [33]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_activityfees']!=0]
x['spend_activityfees'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      390.376005
std       629.693014
count    1117.000000
min        10.000000
max      3199.999878
Name: spend_activityfees, dtype: float64

In [34]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_activityfees'] > 2277].count()
#drop 55 obs

hhid                   55
s1q2_x                 55
spend_tuitionfees      55
spend_textbooks        55
spend_exercisebooks    55
                       ..
pgi                    55
spg                    55
weight_y.1             55
popweight              55
Dataset2               55
Length: 144, dtype: int64

In [35]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_examfees']!=0]
x['spend_examfees'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean       600.473384
std       1309.281582
count     2066.000000
min          3.000000
max      12000.000370
Name: spend_examfees, dtype: float64

In [36]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_examfees'] > 4527].count()
#drop 49 observations

hhid                   49
s1q2_x                 49
spend_tuitionfees      49
spend_textbooks        49
spend_exercisebooks    49
                       ..
pgi                    49
spg                    49
weight_y.1             49
popweight              49
Dataset2               49
Length: 144, dtype: int64

In [37]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_educfeedingprogram']!=0]
x['spend_educfeedingprogram'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      7174.305352
std      15398.841729
count      393.000000
min          7.000000
max      60000.000000
Name: spend_educfeedingprogram, dtype: float64

In [38]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_educfeedingprogram'] > 53368].count()
#drop 16 obs

hhid                   16
s1q2_x                 16
spend_tuitionfees      16
spend_textbooks        16
spend_exercisebooks    16
                       ..
pgi                    16
spg                    16
weight_y.1             16
popweight              16
Dataset2               16
Length: 144, dtype: int64

In [39]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['spend_othereduccharges']!=0]
x['spend_othereduccharges'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      909.551790
std      1742.728709
count    1004.000000
min        10.000000
max      7000.000000
Name: spend_othereduccharges, dtype: float64

In [40]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_othereduccharges'] > 6135].count()
#drop 42 observations

hhid                   42
s1q2_x                 42
spend_tuitionfees      42
spend_textbooks        42
spend_exercisebooks    42
                       ..
pgi                    42
spg                    42
weight_y.1             42
popweight              42
Dataset2               42
Length: 144, dtype: int64

In [43]:
MergedDatasetsRenamed['spend_othereduccharges'].count()
#821 obs to change to NA in education dataset, still less than 1%

18080

In [44]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_purchasedfirewood']!=0]
x['totalcost_purchasedfirewood'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      277.977232
std       212.250549
count    7203.000000
min        20.000000
max      1600.000000
Name: totalcost_purchasedfirewood, dtype: float64

In [45]:
MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_purchasedfirewood'] > 913].count()
#drop 182 observations

hhid                   182
s1q2_x                 182
spend_tuitionfees      182
spend_textbooks        182
spend_exercisebooks    182
                      ...
pgi                    182
spg                    182
weight_y.1             182
popweight              182
Dataset2               182
Length: 144, dtype: int64

In [46]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_collectedfirewood']!=0]
x['totalcost_collectedfirewood'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean      277.597278
std       362.500800
count    4996.000000
min         1.000000
max      4000.000000
Name: totalcost_collectedfirewood, dtype: float64

In [48]:
MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_collectedfirewood'] > 1363].count()
#drop 109 observations

hhid                   109
s1q2_x                 109
spend_tuitionfees      109
spend_textbooks        109
spend_exercisebooks    109
                      ...
pgi                    109
spg                    109
weight_y.1             109
popweight              109
Dataset2               109
Length: 144, dtype: int64

In [49]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_farmresidue']!=0]
x['totalcost_farmresidue'].describe().T[['mean', 'std', 'count', 'min', 'max']]

#no outliers

mean     305.333333
std      208.367745
count     75.000000
min       50.000000
max      600.000000
Name: totalcost_farmresidue, dtype: float64

In [50]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_wood/processwaste']!=0]
x['totalcost_wood/processwaste'].describe().T[['mean', 'std', 'count', 'min', 'max']]

#no outliers

mean     187.222222
std      131.026045
count    144.000000
min        1.000000
max      400.000000
Name: totalcost_wood/processwaste, dtype: float64

In [51]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_charcoal']!=0]
x['totalcost_charcoal'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean       372.195996
std        254.292202
count    10990.000000
min         20.000000
max       2400.000000
Name: totalcost_charcoal, dtype: float64

In [52]:
MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_charcoal'] > 1134].count()
#drop 139 observations

hhid                   139
s1q2_x                 139
spend_tuitionfees      139
spend_textbooks        139
spend_exercisebooks    139
                      ...
pgi                    139
spg                    139
weight_y.1             139
popweight              139
Dataset2               139
Length: 144, dtype: int64

In [53]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_kerosene/paraffin']!=0]
x['totalcost_kerosene/paraffin'].describe().T[['mean', 'std', 'count', 'min', 'max']]

#no outliers

mean      666.936937
std       562.106093
count     111.000000
min       150.000000
max      1600.000000
Name: totalcost_kerosene/paraffin, dtype: float64

In [57]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['totalcost_diesel']!=0]
x['totalcost_diesel'].describe().T[['mean', 'std', 'count', 'min', 'max']]
#no outliers

mean     100.0
std        0.0
count     18.0
min      100.0
max      100.0
Name: totalcost_diesel, dtype: float64

In [ ]:
#430 outliers for Energy dataset