In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import statsmodels.api as sm

%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'

In [4]:
MergeTotalCost = pd.read_excel('../2progs/Excel_Files/C1_MergedData.xlsx')

In [5]:
MergeTotalCost['EducationTotalSpend'] = MergeTotalCost[['spend_tuitionfees', 'spend_textbooks',
                                                                     'spend_exercisebooks','spend_schooluniform', 'spend_schoolboardingfees',
                                                                     'spend_schooltransport', 'spend_extratuition', 'spend_PTA','spend_pocketmoney',
                                                                     'spend_cautionmoney','spend_educmedicalfee', 'spend_activityfees', 'spend_examfees', 
                                                                     'spend_examfees', 'spend_othereduccharges']].sum(axis = 1)

In [6]:
MergeTotalCost['FoodTotalSpend'] = MergeTotalCost[['foodspent_localcurrecny']]

In [7]:
MergeTotalCost['NonFoodTotalSpend'] = MergeTotalCost[['cost']]

In [8]:
MergeTotalCost['EnergyTotalSpend'] = MergeTotalCost[['totalcost_purchasedfirewood', 
                                        'totalcost_collectedfirewood', 'totalcost_farmresidue', 'totalcost_wood/processwaste', 
                                        'totalcost_charcoal','totalcost_kerosene/paraffin', 'totalcost_lpg', 
                                      'totalcost_electricity', 'totalcost_petrol', 'totalcost_diesel' ]].sum(axis=1)

In [9]:
table4 = MergeTotalCost[['EnergyTotalSpend', 'FoodTotalSpend','EducationTotalSpend', 
                       'NonFoodTotalSpend']].describe().T[['mean', 'std', 'count']].set_axis(['Energy Total Spend', 'Food Total Spend', 'Education Total Spend', 'Nonfood Total Spend'], 
                        axis = 'index').set_axis(['Mean', 'Std', 'N'], axis='columns')

table4

                              Mean          Std       N
Energy Total Spend      362.746789   334.230014  1090.0
Food Total Spend       4829.029358  2984.092550  1090.0
Education Total Spend  2093.947491  6675.007432  1090.0
Nonfood Total Spend     479.572343   436.236780  1090.0

In [10]:
MergeTotalCost['Total_Spend'] = MergeTotalCost[['EnergyTotalSpend', 'FoodTotalSpend','EducationTotalSpend', 'NonFoodTotalSpend']].sum(axis = 1)

In [13]:
MergeTotalCost.to_excel('../2progs/Excel_Files/C2_DescriptiveStats.xlsx',sheet_name='Sheet1')