In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetsRenamed.xlsx',sheet_name='Sheet1',index_col = 0)

In [20]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['amountfood_purchased7d']!=0]
x['amountfood_purchased7d'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean        43.314889
std        404.930295
count    14519.000000
min          0.010000
max      40000.000000
Name: amountfood_purchased7d, dtype: float64

In [22]:
MergedDatasetsRenamed[MergedDatasetsRenamed['amountfood_purchased7d'] > 1255].count()
#Drop 74

hhid                   74
s1q2_x                 74
spend_tuitionfees      74
spend_textbooks        74
spend_exercisebooks    74
                       ..
pgi                    74
spg                    74
weight_y.1             74
popweight              74
Dataset2               74
Length: 144, dtype: int64

In [15]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['foodspent_localcurrecny']!=0]
x['foodspent_localcurrecny'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean       400.512834
std        555.351579
count    14921.000000
min          1.000000
max       8500.000000
Name: foodspent_localcurrecny, dtype: float64

In [17]:
MergedDatasetsRenamed[MergedDatasetsRenamed['foodspent_localcurrecny'] > 2065].count()
#drop 248

hhid                   248
s1q2_x                 248
spend_tuitionfees      248
spend_textbooks        248
spend_exercisebooks    248
                      ...
pgi                    248
spg                    248
weight_y.1             248
popweight              248
Dataset2               248
Length: 144, dtype: int64

In [23]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['foodconsumed7d']!=0]
x['foodconsumed7d'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean        32.160851
std        170.127047
count    15379.000000
min          0.002000
max       5000.000000
Name: foodconsumed7d, dtype: float64

In [24]:
MergedDatasetsRenamed[MergedDatasetsRenamed['foodconsumed7d'] > 542].count()
#Drop 135

hhid                   135
s1q2_x                 135
spend_tuitionfees      135
spend_textbooks        135
spend_exercisebooks    135
                      ...
pgi                    135
spg                    135
weight_y.1             135
popweight              135
Dataset2               135
Length: 144, dtype: int64

In [25]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['quantityfood_consumedkg_pc']!=0]
x['quantityfood_consumedkg_pc'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean         0.520312
std          0.795757
count    15498.000000
min          0.000067
max         17.500000
Name: quantityfood_consumedkg_pc, dtype: float64

In [27]:
MergedDatasetsRenamed[MergedDatasetsRenamed['quantityfood_consumedkg_pc'] > 2.92].count()
#Drop 293

hhid                   293
s1q2_x                 293
spend_tuitionfees      293
spend_textbooks        293
spend_exercisebooks    293
                      ...
pgi                    293
spg                    293
weight_y.1             293
popweight              293
Dataset2               293
Length: 144, dtype: int64

In [28]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['number_dwellings']!=0]
x['number_dwellings'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean         1.322400
std          0.557136
count    18080.000000
min          1.000000
max          4.000000
Name: number_dwellings, dtype: float64

In [29]:
MergedDatasetsRenamed[MergedDatasetsRenamed['number_dwellings'] > 3].count()
#Drop 43

hhid                   47
s1q2_x                 47
spend_tuitionfees      47
spend_textbooks        47
spend_exercisebooks    47
                       ..
pgi                    47
spg                    47
weight_y.1             47
popweight              47
Dataset2               47
Length: 144, dtype: int64

In [32]:
x = MergedDatasetsRenamed[MergedDatasetsRenamed['number_habitablerooms']!=0]
x['number_habitablerooms'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean         1.398451
std          0.667266
count    18080.000000
min          1.000000
max          6.000000
Name: number_habitablerooms, dtype: float64

In [33]:
MergedDatasetsRenamed[MergedDatasetsRenamed['number_habitablerooms'] > 3.41].count()
#drop 249

hhid                   249
s1q2_x                 249
spend_tuitionfees      249
spend_textbooks        249
spend_exercisebooks    249
                      ...
pgi                    249
spg                    249
weight_y.1             249
popweight              249
Dataset2               249
Length: 144, dtype: int64

In [34]:
Nonfood = pd.read_csv('../1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Nonfood.csv')

In [35]:
Nonfood = Nonfood.rename(columns={
                        "s12q9":"purchased", 
                        "s12q10": "cost"})

In [37]:
x = Nonfood[Nonfood['cost']!=0]
x['cost'].describe().T[['mean', 'std', 'count', 'min', 'max']]

mean        32.681817
std        104.560583
count    19058.000000
min          0.768703
max      10000.000000
Name: cost, dtype: float64

In [38]:
Nonfood[Nonfood['cost'] > 346.36].count()
#Drop 133

hhid                   133
s1q2                   133
hhsize                 133
hhmod                  133
mod_opt                133
item_name              133
g_recall               133
purchased              133
cost                   133
s12q11                 133
nfcons_value           133
nfcons_value_capita    133
weight                 133
popweight              133
dtype: int64