In [58]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetsRenamed.xlsx',sheet_name='Sheet1',index_col = 0)

In [60]:
Education =  pd.DataFrame(MergedDatasetsRenamed, columns= ['educationTotalspend','hhsize_x', 's1q2_y',
                                                           'spend_tuitionfees', 'spend_textbooks', 
                                                           'spend_exercisebooks','spend_schooluniform', 
                                                           'spend_schoolboardingfees', 'spend_schooltransport',
                                                           'spend_extratuition', 'spend_PTA', 'spend_pocketmoney', 
                                                           'spend_cautionmoney','spend_educmedicalfee', 
                                                           'spend_activityfees', 'spend_examfees', 
                                                           'spend_educfeedingprogram','spend_othereduccharges'])

In [76]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_tuitionfees'] > 34673]

Empty DataFrame
Columns: [hhid, s1q2_x, spend_tuitionfees, spend_textbooks, spend_exercisebooks, spend_schooluniform, spend_schoolboardingfees, spend_schooltransport, spend_extratuition, spend_PTA, spend_pocketmoney, spend_cautionmoney, spend_educmedicalfee, spend_activityfees, spend_examfees, spend_educfeedingprogram, spend_othereduccharges, hhsize_x, weight_x, popweight_x, Dataset4, hhlocation, q_purchased_firewoodused, totalcost_purchasedfirewood, q_collected_firewoodused, totalcost_collectedfirewood, q_farmresidue_used, totalcost_farmresidue, q_wood/processwaste_used, totalcost_wood/processwaste, q_charcoal_used, totalcost_charcoal, q_kerosene/paraffin_used, totalcost_kerosene/paraffin, q_lpg_used, totalcost_lpg, s12q19, q_electricity_used, totalcost_electricity, s12q20, q_petrol_used, totalcost_petrol, s12q21, q_diesel_used, totalcost_diesel, hhsize_y, weight_y, Dataset3, s1q2_y, hhsize_x.1, hhmod, hh_purchasedfood7d, amountfood_purchased7d, foodspent_localcurrecny, s12q5, foodconsumed7d, s12q6_a, foodwasfree, wfp, purc_q_kg, purc_q_kg_pc, quantityfood_consumedkg, quantityfood_consumedkg_pc, fcons_value, fcons_value_capita, weight_x.1, popweight_y, Dataset1, hhsize_y.1, familysize1, familysize2, familysize3, familysize4, familysize5, s1q2, number_dwellings, number_habitablerooms, floor_material, roof_material, wall_material, drikingwater_source, drinkingwater_insufficientquanities, toilet_type, share_toilet, lighting_source, payrent_dwelling, rentpaid_shillings, own_radio, own_television, own_satelitedish, own_smartphone, own_refrigerator, own_table, own_bed, own_mattress, own_mosquitonet, own_fan, own_bicycle, own_motorcycle, own_car, ...]
Index: []

[0 rows x 144 columns]

In [66]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_tuitionfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_tuitionfees > 34673),'spend_tuitionfees']= np.nan

In [67]:
MergedDatasetsRenamed.iloc[[5471]]

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,poorIPL,pgi,spg,weight_y.1,popweight,Dataset2
5471,1717,Village 3,NaN,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household

In [68]:
MergedDatasetsRenamed.iloc[[4078]]

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,poorIPL,pgi,spg,weight_y.1,popweight,Dataset2
4078,1281,Village 1,NaN,2000.0,0.0,4200.0,0.0,0.0,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household

In [69]:
#Change outliers to NAs
MergedDatasetsRenamed['spend_textbooks'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_textbooks > 5614),'spend_textbooks']= np.nan

In [70]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_exercisebooks'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_exercisebooks > 3845),'spend_exercisebooks']= np.nan

In [71]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_schooluniform'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_schooluniform > 7563),'spend_schooluniform']= np.nan

In [72]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_schooltransport'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_schooltransport > 41465),'spend_schooltransport']= np.nan

In [73]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_PTA'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_PTA > 1577),'spend_PTA']= np.nan

In [77]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_PTA'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_PTA > 1577),'spend_PTA']= np.nan

In [78]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_pocketmoney'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_pocketmoney > 17225),'spend_pocketmoney']= np.nan

In [79]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_cautionmoney'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_cautionmoney > 4989),'spend_cautionmoney']= np.nan

In [80]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_educmedicalfee'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_educmedicalfee > 12576),'spend_educmedicalfee']= np.nan

In [81]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_activityfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_activityfees > 2277),'spend_activityfees']= np.nan

In [83]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_examfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_examfees > 4527),'spend_examfees']= np.nan

In [84]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_educfeedingprogram'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_educfeedingprogram > 53368),'spend_educfeedingprogram']= np.nan

In [85]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_othereduccharges'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_othereduccharges > 6135),'spend_othereduccharges']= np.nan

In [87]:
#Energy Dataset - switching outliers to NAs

MergedDatasetsRenamed['totalcost_purchasedfirewood'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_purchasedfirewood > 913),'totalcost_purchasedfirewood']= np.nan

MergedDatasetsRenamed['totalcost_collectedfirewood'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_collectedfirewood > 1363),'totalcost_collectedfirewood']= np.nan

MergedDatasetsRenamed['totalcost_charcoal'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_charcoal > 1134),'totalcost_charcoal']= np.nan

In [ ]:
#430 outliers for Energy dataset
#821 outliers for Education dataset (outlier defined as observations were more than 3 SD away from mean excluding 0's)
#still changing less than 1% of dataset (dataset has 18080 observations)