In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetsRenamed.xlsx',sheet_name='Sheet1',index_col = 0)

In [4]:
Education =  pd.DataFrame(MergedDatasetsRenamed, columns= ['educationTotalspend','hhsize_x', 's1q2_y',
                                                           'spend_tuitionfees', 'spend_textbooks', 
                                                           'spend_exercisebooks','spend_schooluniform', 
                                                           'spend_schoolboardingfees', 'spend_schooltransport',
                                                           'spend_extratuition', 'spend_PTA', 'spend_pocketmoney', 
                                                           'spend_cautionmoney','spend_educmedicalfee', 
                                                           'spend_activityfees', 'spend_examfees', 
                                                           'spend_educfeedingprogram','spend_othereduccharges'])

In [33]:
MergedDatasetsRenamed[MergedDatasetsRenamed['spend_tuitionfees'] > 34673]

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,poorIPL,pgi,spg,weight_y.1,popweight,Dataset2
4078,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4079,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4080,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4081,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4082,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4083,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4084,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4085,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4086,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4087,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4088,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4089,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4090,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4091,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
4092,1281,Village 1,36000.00000,2000.000000,0.000000,4200.0,0.0,0.000000,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household
5451,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5452,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5453,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5454,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5455,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5456,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5457,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5458,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5459,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5460,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5461,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5462,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5463,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5464,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5465,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5466,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5467,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5468,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5469,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5470,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household
5471,1717,Village 3,48350.00098,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household

In [34]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_tuitionfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_tuitionfees > 34673),'spend_tuitionfees']= np.nan

In [35]:
MergedDatasetsRenamed.iloc[[5471]]

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,poorIPL,pgi,spg,weight_y.1,popweight,Dataset2
5471,1717,Village 3,NaN,3499.999878,49.999998,1.0,0.0,9999.999756,0.0,0.0,...,2910.2168,51.498955,1.693116,1.9,Poor,0.167023,0.027897,5.557169,55.571686,Household

In [36]:
MergedDatasetsRenamed.iloc[[4078]]

,hhid,s1q2_x,spend_tuitionfees,spend_textbooks,spend_exercisebooks,spend_schooluniform,spend_schoolboardingfees,spend_schooltransport,spend_extratuition,spend_PTA,...,hh_con,hh_con2011,hh_con2011_pd,pline_ipl,poorIPL,pgi,spg,weight_y.1,popweight,Dataset2
4078,1281,Village 1,NaN,2000.0,0.0,4200.0,0.0,0.0,0.0,0.0,...,3448.3696,61.022064,2.006205,1.9,Non-poor,0.043269,0.001872,5.557169,77.800362,Household

In [37]:
#Change outliers to NAs
MergedDatasetsRenamed['spend_textbooks'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_textbooks > 5614),'spend_textbooks']= np.nan

In [38]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_exercisebooks'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_exercisebooks > 3845),'spend_exercisebooks']= np.nan

In [39]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_schooluniform'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_schooluniform > 7563),'spend_schooluniform']= np.nan

In [40]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_schooltransport'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_schooltransport > 41465),'spend_schooltransport']= np.nan

In [41]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_PTA'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_PTA > 1577),'spend_PTA']= np.nan

In [42]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_PTA'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_PTA > 1577),'spend_PTA']= np.nan

In [43]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_pocketmoney'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_pocketmoney > 17225),'spend_pocketmoney']= np.nan

In [44]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_cautionmoney'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_cautionmoney > 4989),'spend_cautionmoney']= np.nan

In [45]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_educmedicalfee'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_educmedicalfee > 12576),'spend_educmedicalfee']= np.nan

In [46]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_activityfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_activityfees > 2277),'spend_activityfees']= np.nan

In [47]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_examfees'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_examfees > 4527),'spend_examfees']= np.nan

In [48]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_educfeedingprogram'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_educfeedingprogram > 53368),'spend_educfeedingprogram']= np.nan

In [49]:
#Change outliers to NAs

MergedDatasetsRenamed['spend_othereduccharges'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.spend_othereduccharges > 6135),'spend_othereduccharges']= np.nan

In [50]:
#Energy Dataset - switching outliers to NAs

MergedDatasetsRenamed['totalcost_purchasedfirewood'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_purchasedfirewood > 913),'totalcost_purchasedfirewood']= np.nan

MergedDatasetsRenamed['totalcost_collectedfirewood'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_collectedfirewood > 1363),'totalcost_collectedfirewood']= np.nan

MergedDatasetsRenamed['totalcost_charcoal'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.totalcost_charcoal > 1134),'totalcost_charcoal']= np.nan

In [51]:
#430 outliers for Energy dataset
#821 outliers for Education dataset (outlier defined as observations were more than 3 SD away from mean excluding 0's)
#still changing less than 1% of dataset (dataset has 18080 observations)

In [56]:
#Food Dataset - Change outliers to NAs 

MergedDatasetsRenamed['amountfood_purchased7d'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.amountfood_purchased7d > 1255), 'amountfood_purchased7d']= np.nan

MergedDatasetsRenamed['foodspent_localcurrecny'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.foodspent_localcurrecny > 2065), 'foodspent_localcurrecny']= np.nan

MergedDatasetsRenamed['foodconsumed7d'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.foodconsumed7d > 542), 'foodconsumed7d']= np.nan

MergedDatasetsRenamed['quantityfood_consumedkg_pc'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.foodconsumed7d > 2.9), 'quantityfood_consumedkg_pc']= np.nan

In [7]:
#750 outliers for Food dataset

In [58]:
#Household Dataset - Change outliers to NAs 

MergedDatasetsRenamed['number_dwellings'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.number_dwellings > 3), 'number_dwellings']= np.nan

MergedDatasetsRenamed['number_habitablerooms'] = MergedDatasetsRenamed.loc[(MergedDatasetsRenamed.number_habitablerooms > 3.41), 'number_habitablerooms']= np.nan

In [ ]:
#492 outliers for Household