In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import statsmodels.api as sm

%matplotlib inline

ModuleNotFoundError: No module named 'seaborn'

In [5]:
MergeTotalCost = pd.read_excel('../2progs/Excel_Files/C2_DescriptiveStats.xlsx')
Member = pd.read_excel('../2progs/Excel_Files/B1_MemberCleaning.xlsx')

In [6]:
FinalMerge = pd.merge(Member, MergeTotalCost, how = "inner", on = "hhid")

In [8]:
FinalMerge.describe()

,hhid,size,headFemale,shareFemale,shareAgeZeroToFour,shareAgeFiveToNine,shareAgeTenToFourteen,shareAgeFifteenToTwentyfour,shareAgeTwentyfivetofourtynine,shareAgeFiftyPlus,...,share_toilet_Yes,share_toilet_nan,childunder5_death5yrs_No,childunder5_death5yrs_Yes,childunder5_death5yrs_nan,EducationTotalSpend,FoodTotalSpend,NonFoodTotalSpend,EnergyTotalSpend,Total_Spend
count,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,...,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000
mean,2914.844037,5.764220,0.657798,0.488215,0.190778,0.190811,0.147147,0.220717,0.217650,0.014455,...,0.400917,0.384404,0.899083,0.066972,0.033945,2093.947491,4829.029358,479.572343,362.746789,7765.295981
std,1720.548935,3.075781,0.474665,0.256535,0.165900,0.167041,0.155571,0.254275,0.228508,0.072469,...,0.490309,0.486677,0.301358,0.250089,0.181171,6675.007432,2984.092550,436.236780,334.230014,7820.364107
min,10.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
25%,1435.250000,4.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.085227,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2615.000000,173.987585,142.500000,3890.583402
50%,2832.500000,6.000000,1.000000,0.500000,0.200000,0.200000,0.142857,0.166667,0.166667,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,300.000000,4625.000000,361.849685,300.000000,6226.170385
75%,4427.000000,8.000000,1.000000,0.666667,0.326923,0.300000,0.250000,0.333333,0.250000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,1500.000024,6670.000000,634.465165,500.000000,9344.451880
max,6004.000000,21.000000,1.000000,1.000000,0.750000,0.800000,0.666667,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,108500.000000,16980.000000,3084.517810,2200.000000,122291.578957

In [9]:
FinalMerge.to_excel('../2progs/Excel_Files/C3_FinalMerge.xlsx',sheet_name='Sheet1')