In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetwDummies.xlsx',sheet_name='Sheet1',index_col = 0)
Nonfood = pd.read_excel('../2progs/Nonfood.xlsx',sheet_name='Sheet1',index_col = 0)

In [3]:
Nonfood = Nonfood.rename(columns={"s1q2":"hhlocation", 
                        "s12q9":"purchased", 
                        "s12q10": "cost"})

In [4]:
MergedDatasetsRenamed['nonfoodTotalspend'] = Nonfood['cost']

In [5]:
MergedDatasetsRenamed['energyTotalspend'] = MergedDatasetsRenamed[['totalcost_purchasedfirewood', 'totalcost_collectedfirewood', 
                                              'totalcost_farmresidue', 'totalcost_wood/processwaste', 
                                              'totalcost_charcoal','totalcost_kerosene/paraffin', 'totalcost_lpg', 
                                              'totalcost_electricity', 'totalcost_petrol', 'totalcost_diesel']].sum(axis = 1)

In [6]:
MergedDatasetsRenamed['foodTotalspend'] = MergedDatasetsRenamed['foodspent_localcurrecny']

In [7]:
MergedDatasetsRenamed['educationTotalspend'] = MergedDatasetsRenamed[['spend_tuitionfees', 'spend_textbooks', 
                                                           'spend_exercisebooks', 'spend_schooluniform', 
                                                           'spend_schoolboardingfees', 'spend_schooltransport', 
                                                           'spend_extratuition', 'spend_PTA', 'spend_pocketmoney', 
                                                           'spend_cautionmoney', 'spend_educmedicalfee', 
                                                           'spend_activityfees', 'spend_examfees', 
                                                           'spend_educfeedingprogram', 'spend_othereduccharges']].sum(axis = 1)

In [8]:
MergedDatasetsRenamed[['energyTotalspend', 'foodTotalspend','educationTotalspend', 'nonfoodTotalspend']].describe().T[['mean', 'std', 'count']].set_axis(['Energy Total Spend', 'Food Total Spend', 'Education Total Spend', 'Nonfood Total Spend'], axis = 'index').set_axis(['Mean', 'Std', 'N'], axis='columns')

                              Mean          Std        N
Energy Total Spend      383.242257   342.650045  18080.0
Food Total Spend        355.027789   441.010358  14826.0
Education Total Spend  2546.969193  8477.636666  18080.0
Nonfood Total Spend      33.807527   127.999596  10991.0