In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetwDummies.xlsx',sheet_name='Sheet1',index_col = 0)
Nonfood = pd.read_excel('../2progs/Nonfood.xlsx',sheet_name='Sheet1',index_col = 0)

In [ ]:
#Non-Food

In [52]:
Nonfood['cost_per_hh'] = pd.DataFrame(Nonfood.groupby('hhid')['cost'].sum())
MergedDatasetsRenamed['nonfoodTotalspend'] = Nonfood['cost_per_hh']

In [ ]:
#Food

In [50]:
MergedDatasetsRenamed['FoodCost_per_hh'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['foodspent_localcurrecny'].sum())
MergedDatasetsRenamed['foodTotalspend'] = MergedDatasetsRenamed['FoodCost_per_hh']

In [ ]:
#Education

In [44]:
MergedDatasetsRenamed['s1'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_tuitionfees'].mean())
MergedDatasetsRenamed['s2'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_textbooks'].mean())
MergedDatasetsRenamed['s3'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_exercisebooks'].mean())
MergedDatasetsRenamed['s4'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_schooluniform'].mean())
MergedDatasetsRenamed['s5'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_schoolboardingfees'].mean())
MergedDatasetsRenamed['s6'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_extratuition'].mean())
MergedDatasetsRenamed['s7'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_PTA'].mean())
MergedDatasetsRenamed['s8'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_pocketmoney'].mean())
MergedDatasetsRenamed['s9'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_cautionmoney'].mean())
MergedDatasetsRenamed['s10'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_educmedicalfee'].mean())
MergedDatasetsRenamed['s11'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_activityfees'].mean())
MergedDatasetsRenamed['s12'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_examfees'].mean())
MergedDatasetsRenamed['s13'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_educfeedingprogram'].mean())
MergedDatasetsRenamed['s14'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_othereduccharges'].mean())
MergedDatasetsRenamed['s15'] = pd.DataFrame(MergedDatasetsRenamed.groupby('hhid')['spend_schooltransport'].mean())

In [49]:
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s1']
MergedDatasetsRenamed ['Spend'] = MergedDatasetsRenamed['s2']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s3']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s4']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s5']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s6']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s7']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s8']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s9']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s10']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s11']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s12']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s13']
MergedDatasetsRenamed ['Spend']= MergedDatasetsRenamed['s14']
MergedDatasetsRenamed['Spend'] = MergedDatasetsRenamed['s15']

In [53]:
#Energy

In [46]:
MergedDatasetsRenamed[['foodTotalspend','Spend', 
                       'nonfoodTotalspend']].describe().T[['mean', 'std', 'count']].set_axis(['Food Total Spend', 'Education Total Spend', 'Nonfood Total Spend'], 
                        axis = 'index').set_axis(['Mean', 'Std', 'N'], axis='columns')

                              Mean          Std       N
Food Total Spend       4829.029358  2984.092550  1090.0
Education Total Spend   203.584559  1558.459426  1088.0
Nonfood Total Spend     555.318243   568.318964  1100.0