In [1]:
import numpy as np
import pandas as pd

In [38]:
MergedDatasetsRenamed = pd.read_excel('../2progs/MergedDatasetsRenamed.xlsx',sheet_name='Sheet1',index_col = 0)

In [42]:
MergedDatasetsRenamed[["own_radio",
                          "own_television", "drinkingwater_insufficientquanities", "own_satelitedish", "own_smartphone",
                          "own_refrigerator",  "own_table", "own_bed", "own_mattress", 
                         "own_mosquitonet", "own_fan", "own_bicycle", "own_motorcycle", 
                        "own_car", "own_generator", "own_solarpanels", "own_kerosenestove",
                          "own_charcoaljiko", "own_wheelbarrow","own_ironfencing", 
                          "own_farmanimals","relatives_abroad","relatives_outsidekenya", 
                          "own_bankaccount","borrowedfrom_sources12mo", "borrowedfrom_bank12mo", 
                          "borrowedfrom_community", "borrowedfrom_familyorfriends12mo", "remittances_abroad", 
                         "purchased_insurance", "childunder5_death5yrs", "sellhhgoods_lackfood", 
                           "healthandeduc_reduction",  "sellassets_lackfood",  "spendsavings:lackfood", 
                          "borrowmoneyfood_lackfood", "sellhouseland_lackfood", "withdrawchildrenschool_lackfood", 
                         "sellanimals:lackfood", "sellfemaleanimal_last", "beg_lackfood", "payrent_dwelling", 
                        "hh_purchasedfood7d", 'foodwasfree']].isnull().sum()

own_radio                                 0
own_television                            0
drinkingwater_insufficientquanities       0
own_satelitedish                          0
own_smartphone                            0
own_refrigerator                          0
own_table                                 0
own_bed                                   0
own_mattress                              0
own_mosquitonet                           0
own_fan                                   0
own_bicycle                               0
own_motorcycle                            0
own_car                                   0
own_generator                             0
own_solarpanels                           0
own_kerosenestove                         0
own_charcoaljiko                          0
own_wheelbarrow                           0
own_ironfencing                           0
own_farmanimals                           0
relatives_abroad                          0
relatives_outsidekenya                    0
own_bankaccount                           0
borrowedfrom_sources12mo                  0
borrowedfrom_bank12mo                     0
borrowedfrom_community                    0
borrowedfrom_familyorfriends12mo          0
remittances_abroad                        0
purchased_insurance                       0
childunder5_death5yrs                   592
sellhhgoods_lackfood                      0
healthandeduc_reduction                   0
sellassets_lackfood                       0
spendsavings:lackfood                     0
borrowmoneyfood_lackfood                  0
sellhouseland_lackfood                    0
withdrawchildrenschool_lackfood           0
sellanimals:lackfood                      0
sellfemaleanimal_last                     0
beg_lackfood                              0
payrent_dwelling                          0
hh_purchasedfood7d                        0
foodwasfree                            2582
dtype: int64

In [35]:
MergedDatasetsRenamedD = pd.get_dummies(MergedDatasetsRenamed, columns=["own_radio",
                          "own_television", "drinkingwater_insufficientquanities", "own_satelitedish", "own_smartphone",
                          "own_refrigerator",  "own_table", "own_bed", "own_mattress", 
                         "own_mosquitonet", "own_fan", "own_bicycle", "own_motorcycle", 
                        "own_car", "own_generator", "own_solarpanels", "own_kerosenestove",
                          "own_charcoaljiko", "own_wheelbarrow","own_ironfencing", 
                          "own_farmanimals","relatives_abroad","relatives_outsidekenya", 
                          "own_bankaccount","borrowedfrom_sources12mo", "borrowedfrom_bank12mo", 
                          "borrowedfrom_community", "borrowedfrom_familyorfriends12mo", "remittances_abroad", 
                         "purchased_insurance", "childunder5_death5yrs", "sellhhgoods_lackfood", 
                           "healthandeduc_reduction",  "sellassets_lackfood",  "spendsavings:lackfood", 
                          "borrowmoneyfood_lackfood", "sellhouseland_lackfood", "withdrawchildrenschool_lackfood", 
                         "sellanimals:lackfood", "sellfemaleanimal_last", "beg_lackfood", "payrent_dwelling", 
                        "hh_purchasedfood7d", 'foodwasfree'], dummy_na = True)

In [45]:
MergedDatasetsRenamedD [['foodwasfree_nan', 'childunder5_death5yrs_nan']].sum()

foodwasfree_nan              2582
childunder5_death5yrs_nan     592
dtype: int64

In [31]:
tv_w

,own_television_No,own_television_Yes,own_television_nan,own_radio_No,own_radio_Yes,own_radio_nan
0,1,0,0,1,0,0
1,1,0,0,1,0,0
2,1,0,0,1,0,0
3,1,0,0,1,0,0
4,1,0,0,1,0,0
...,...,...,...,...,...,...
18075,1,0,0,1,0,0
18076,1,0,0,1,0,0
18077,1,0,0,1,0,0
18078,1,0,0,1,0,0
18079,1,0,0,1,0,0