In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge

In [8]:
MergedDatasetDummies = pd.read_excel('../2progs/AllMerged.xlsx',sheet_name='Sheet1',index_col = 0)
ExcludingShareofHousehold = pd.read_excel('../2progs/MergewithTotalSpend.xlsx',sheet_name='Sheet1',index_col = 0)

In [9]:
MergedDatasetDummies.head()
#why is total spend nonfood, null?

,hhid,size,headFemale,shareFemale,shareAgeZeroToFour,shareAgeFiveToNine,shareAgeTenToFourteen,shareAgeFifteenToTwentyfour,shareAgeTwentyfivetofourtynine,shareAgeFiftyPlus,...,foodwasfree_Don't Know,foodwasfree_No,foodwasfree_Refused to Respond,foodwasfree_Yes,foodwasfree_nan,nonfoodTotalspend,energyTotalspend,foodTotalspend,educationTotalspend,Total_Spend
0,10,5,1,0.8,0.2,0.4,0.2,0.0,0.2,0.0,...,0,0,0,1,0,NaN,1000,1700.0,19100.00006,21800.00006
1,10,5,1,0.8,0.2,0.4,0.2,0.0,0.2,0.0,...,0,0,0,1,0,NaN,1000,1150.0,19100.00006,21250.00006
2,10,5,1,0.8,0.2,0.4,0.2,0.0,0.2,0.0,...,0,0,0,1,0,NaN,1000,240.0,19100.00006,20340.00006
3,10,5,1,0.8,0.2,0.4,0.2,0.0,0.2,0.0,...,0,0,0,1,0,NaN,1000,200.0,19100.00006,20300.00006
4,10,5,1,0.8,0.2,0.4,0.2,0.0,0.2,0.0,...,0,0,0,1,0,NaN,1000,100.0,19100.00006,20200.00006

In [10]:
unwanted = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('spend_')]
ExcludingShareofHousehold.drop(unwanted, axis=1, inplace=True)

unwanted2 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.endswith('pend')]
ExcludingShareofHousehold.drop(unwanted2, axis=1, inplace=True)

unwanted3 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('q_')]
ExcludingShareofHousehold.drop(unwanted3, axis=1, inplace=True)

unwanted4 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('totalcost')]
ExcludingShareofHousehold.drop(unwanted4, axis=1, inplace=True)

unwanted5 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('Dataset')]
ExcludingShareofHousehold.drop(unwanted5, axis=1, inplace=True)

unwanted6 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhsize')]
ExcludingShareofHousehold.drop(unwanted6, axis=1, inplace=True)

unwanted7 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('s1q2')]
ExcludingShareofHousehold.drop(unwanted7, axis=1, inplace=True)

unwanted8 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('weight')]
ExcludingShareofHousehold.drop(unwanted8, axis=1, inplace=True)

unwanted9 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhid')]
ExcludingShareofHousehold.drop(unwanted9, axis=1, inplace=True)

unwanted10 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('popweight')]
ExcludingShareofHousehold.drop(unwanted10, axis=1, inplace=True)

unwanted11 = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.startswith('hhlocation')]
ExcludingShareofHousehold.drop(unwanted11, axis=1, inplace=True)

#why are there variables that aren't named?

In [11]:
Remove_extra_vars = ExcludingShareofHousehold.columns[ExcludingShareofHousehold.columns.str.endswith('_No')]
ExcludingShareofHousehold.drop(Remove_extra_vars, axis=1, inplace=True)

In [12]:
ExcludingShareofHousehold.head()

,s12q19,s12q20,s12q21,hhmod,amountfood_purchased7d,foodspent_localcurrecny,s12q5,foodconsumed7d,s12q6_a,wfp,...,sellanimals:lackfood_Yes,sellfemaleanimal_last_Yes,beg_lackfood_Yes,hh_purchasedfood7d_Yes,childunder5_death5yrs_Yes,childunder5_death5yrs_nan,foodwasfree_Don't Know,foodwasfree_Refused to Respond,foodwasfree_Yes,foodwasfree_nan
0,No,No,No,1,24.0,1700.0,Yes,2.0,NaN,No,...,0,0,0,1,0,0,0,0,1,0
1,No,No,No,1,11.0,1150.0,Yes,1.0,NaN,No,...,0,0,0,1,0,0,0,0,1,0
2,No,No,No,1,2.0,240.0,Yes,7.0,7.0,Yes,...,0,0,0,1,0,0,0,0,1,0
3,No,No,No,1,400.0,200.0,Yes,10.0,NaN,No,...,0,0,0,1,0,0,0,0,1,0
4,No,No,No,1,1.0,100.0,Yes,1.0,NaN,No,...,0,0,0,1,0,0,0,0,1,0

In [18]:
restricted_set = MergedDatasetDummies[['number_dwellings', 'number_habitablerooms', 'floor_material', 'roof_material',
                                       'wall_material', 'toilet_type', 'share_toilet', 'lighting_source', 'own_radio_Yes', 
                                       'own_television_Yes', 'own_satelitedish_Yes', 'own_smartphone_Yes', 'own_refrigerator_Yes',
                                      'own_table_Yes', 'own_bed_Yes', 'own_mattress_Yes', 'own_mosquitonet_Yes', 'own_fan_Yes', 'own_bicycle_Yes',
                                      'own_motorcycle_Yes', 'own_generator_Yes', 'own_solarpanels_Yes', 'own_kerosenestove_Yes',
                                      'own_charcoaljiko_Yes', 'own_wheelbarrow_Yes', 'own_ironfencing_Yes', 'own_farmanimals_Yes', 'hh_purchasedfood7d_Yes',
                                      'hh_purchasedfood7d']]



#Include share of household variables when ready
#own_car

In [20]:
ln_spend = np.log(MergedDatasetDummies['Total_Spend'])

              
ln_expenditure_per_capita = ln_spend/MergedDatasetDummies['size']

#can't take log of 0's

/Users/colleenodonnell/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [42]:
y = ln_expenditure_per_capita
X = ExcludingShareofHousehold

In [43]:
#Ridge Model
alphas = 10**np.linspace(10,-2,100)*0.5

#ALPHAS SHOULD GO 0 to 1 or -1 to 1---confirm

In [44]:
ridge = Ridge(normalize = True)
coefs = []

for a in alphas:
    ridge.set_params(alpha = a)
    ridge.fit(X, y)
    coefs.append(ridge.coef_)
    
np.shape(coefs)

ValueError: could not convert string to float: 'No'

In [45]:
# Split data into training and test sets
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

NameError: name 'train_test_split' is not defined

In [ ]:
#cross validation to choose optimal alpha

ridgecv = RidgeCV(alphas = alphas, scoring = 'neg_mean_squared_error', normalize = True)
ridgecv.fit(X_train, y_train)
ridgecv.alpha_

In [13]:
#Test MSE w/ optimal alpha

ridge4 = Ridge(alpha = ridgecv.alpha_, normalize = True)
ridge4.fit(X_train, y_train)
mean_squared_error(y_test, ridge4.predict(X_test))

NameError: name 'ridgecv' is not defined

In [ ]:
#Fit ridge model w/ optimal alpha 
ridge4.fit(X, y)
pd.Series(ridge4.coef_, index = X.columns)