In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame({'Lasso ': [60.29,48.62,36.76],
        'Ridge': [61.76, 44.95, 34.56],
        'Elastic Net': [64.71, 45.87, 33.82]
       })

In [3]:
data.index = ['25%', '40%', '50%']

In [4]:
data.index.name = 'Percentile'

In [5]:
data.columns.names = ['Restricted Models']

In [6]:
data.style.set_caption("Exclusion Error").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'Black'),
        ('font-size', '16px')
    ]
}])

In [7]:
data

Restricted Models  Lasso   Ridge  Elastic Net
Percentile
25%                 60.29  61.76        64.71
40%                 48.62  44.95        45.87
50%                 36.76  34.56        33.82

In [8]:
data2 = pd.DataFrame({'Lasso ': [48.52,35.78, 24.26],
        'Ridge': [42.64, 31.19, 24.26],
        'Elastic Net': [45.59, 32.11, 25.00]
       })

In [9]:
data2.index = ['25%', '40%', '50%']

In [10]:
data2.columns.names = ['Unrestricted Models']

In [11]:
data2.index.name = 'Percentile'

In [12]:
data2.head()

Unrestricted Models  Lasso   Ridge  Elastic Net
Percentile
25%                   48.52  42.64        45.59
40%                   35.78  31.19        32.11
50%                   24.26  24.26        25.00

In [13]:
data2

Unrestricted Models  Lasso   Ridge  Elastic Net
Percentile
25%                   48.52  42.64        45.59
40%                   35.78  31.19        32.11
50%                   24.26  24.26        25.00

In [14]:
data

Restricted Models  Lasso   Ridge  Elastic Net
Percentile
25%                 60.29  61.76        64.71
40%                 48.62  44.95        45.87
50%                 36.76  34.56        33.82

In [15]:
type(data)

pandas.core.frame.DataFrame

In [17]:
print(data2.to_latex())

\begin{tabular}{lrrr}
\toprule
Unrestricted Models &  Lasso  &  Ridge &  Elastic Net \\
Percentile &         &        &              \\
\midrule
25\%        &   48.52 &  42.64 &        45.59 \\
40\%        &   35.78 &  31.19 &        32.11 \\
50\%        &   24.26 &  24.26 &        25.00 \\
\bottomrule
\end{tabular}